img{
  max-width: 50%;
  border: 2px solid black;
}
.card-report{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 5px;
}

.card-report span{
  margin-left: 10px;
  display: flex;
  align-items: center;
}
