.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a img{
  max-width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-home{
  margin-left: 5px;
  margin-right: 5px;
}
