<mat-sidenav-container class="sidenav-container">

  <script src="https://kit.fontawesome.com/3e534d8d9b.js" crossorigin="anonymous"></script>

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">
        <img class="icon-menu" src="https://www.flaticon.com/svg/static/icons/svg/846/846551.svg"> Home</a>
      <a mat-list-item routerLink="todos">
        <img class="icon-menu" src="https://www.flaticon.com/svg/static/icons/svg/1827/1827147.svg">Todas Solicitações</a>
      <a mat-list-item routerLink="mobacess">
        <img class="icon-menu" src="https://www.flaticon.com/svg/static/icons/svg/635/635705.svg">Mobilidade e Acessibilidade</a>
      <a mat-list-item routerLink="saudesanem">
        <img class="icon-menu" src="https://www.flaticon.com/svg/static/icons/svg/688/688604.svg">Saúde e Saneamento</a>
      <a mat-list-item routerLink="educacao">
        <img class="icon-menu" src="https://www.flaticon.com/svg/static/icons/svg/686/686051.svg">Educação</a>
      <a mat-list-item routerLink="habitacao">
        <img class="icon-menu" src="https://www.flaticon.com/svg/static/icons/svg/25/25694.svg">Habitação</a>
      <a mat-list-item routerLink="planurbano"><img class="icon-menu" src="https://www.flaticon.com/svg/static/icons/svg/3507/3507665.svg">Planejamento Urbano</a>
      <a mat-list-item routerLink="lazer"><img class="icon-menu" src="
        https://www.flaticon.com/svg/static/icons/svg/829/829180.svg
        ">Lazer</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ReportaPolítica</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
