<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Home</a>
      <a mat-list-item routerLink="todos">Todas Solicitações</a>
      <a mat-list-item routerLink="mobacess"> • Mobilidade e Acessibilidade</a>
      <a mat-list-item routerLink="saudesanem"> • Saúde e Saneamento</a>
      <a mat-list-item routerLink="educacao"> • Educação</a>
      <a mat-list-item routerLink="habitacao"> • Habitação</a>
      <a mat-list-item routerLink="planurbano"> • Planejamento Urbano</a>
      <a mat-list-item routerLink="lazer"> • Lazer</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ReportaPolítica</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
