<div class="hero-report">
<mat-card>


  <h2>{{title}}</h2>

  <form class="example-form  report-form">

    <mat-form-field class="example-full-width">
      <mat-label>Nome:</mat-label>
      <input matInput placeholder="Nome:" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Endereço:</mat-label>
      <input matInput placeholder="Endereço:" required>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Descrição:</mat-label>
      <input matInput placeholder="Descrição:" required>
    </mat-form-field>

      <button mat-raised-button color="primary">Upload de imagem</button>

    <br>
    <br>
    <button mat-raised-button color="warn">Reportar</button>
  </form>


</mat-card>
</div>

